In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
# Creates a series
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
# Only show the values
obj.values

array([ 3,  6,  9, 12])

In [5]:
# Only show the index
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [6]:
# Creates a Series with index
ww2_cas = Series([89, 43, 30, 21, 40], index = ['USSR', 'Germany', 'China', 'Japan', 'USA'])

In [7]:
ww2_cas['USSR']

89

In [8]:
ww2_cas[ww2_cas > 10]

USSR       89
Germany    43
China      30
Japan      21
USA        40
dtype: int64

In [9]:
# Checks if USSR is in Series
'USSR' in ww2_cas

True

In [10]:
# Can convert Series into Python dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 30, 'Germany': 43, 'Japan': 21, 'USA': 40, 'USSR': 89}

In [11]:
ww2_series = Series(ww2_dict)

In [12]:
ww2_series

China      30
Germany    43
Japan      21
USA        40
USSR       89
dtype: int64

In [13]:
# Passing a dictionary the index will have dict keys in order
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [14]:
obj2 = Series(ww2_dict, index = countries)

In [15]:
obj2

China        30
Germany      43
Japan        21
USA          40
USSR         89
Argentina   NaN
dtype: float64

In [16]:
# We can use isnull and notnull to find missing data
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [17]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [18]:
# Lets see the ww2 Series again
ww2_series

China      30
Germany    43
Japan      21
USA        40
USSR       89
dtype: int64

In [19]:
# Lets check our Series with Argentine again
obj2

China        30
Germany      43
Japan        21
USA          40
USSR         89
Argentina   NaN
dtype: float64

In [20]:
ww2_series + obj2

Argentina    NaN
China         60
Germany       86
Japan         42
USA           80
USSR         178
dtype: float64

In [21]:
obj2.name = 'World War 2 Casualties'

In [22]:
obj2

China        30
Germany      43
Japan        21
USA          40
USSR         89
Argentina   NaN
Name: World War 2 Casualties, dtype: float64

In [23]:
# We can also name index
obj2.index.name = 'Countries'

In [24]:
obj2

Countries
China        30
Germany      43
Japan        21
USA          40
USSR         89
Argentina   NaN
Name: World War 2 Casualties, dtype: float64